* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #CEE5E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    min-width: 370px;
    background-color: #040404;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}

.banner {
    width: 100%;
    height: 200px;
    border-bottom: 3px solid #119DA4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 100px;
    border-radius: 100%;
    border: 3px solid #119DA4;
    position: relative;
    top: -50px;
}

.title, .subtitle {
    color: #CEE5E9;
    text-align: center;
}

.title {
    color: #119DA4;
}

.subtitle {
    color: #0C7489;
}

.social-media {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.social-media li {
    border: 2px solid #CEE5E9;
    list-style: none;
    padding: 10px 20px;
}

.social-media li:first-child {
    border-radius: 10px 0 0 10px;
}

.social-media li:nth-child(2) {
    border-left: 0;
    border-right: 0;
}

.social-media li:last-child {
    border-radius: 0 10px 10px 0;
}

.social-media li:hover {
    background-color: rgba(206, 229, 233, 0.4);
}

.social-media li a {
    color: #CEE5E9;
    text-decoration: none;
}